<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <connectionStrings>
    <add name="CountMeInEntities" connectionString="metadata=res://*/CountMeInModel.csdl|res://*/CountMeInModel.ssdl|res://*/CountMeInModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=PC;initial catalog=CountMeIn;user id=CountMeInUser;password=cmiu123;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.SqlClient" />
    <add name="CountMeInEntities" connectionString="metadata=res://*/CountMeInModel.csdl|res://*/CountMeInModel.ssdl|res://*/CountMeInModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=PC;initial catalog=CountMeIn;user id=CountMeInUser;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>