@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "404Error";
}

<hgroup class="title">
    <h2 class="validation-summary-errors center-block">Грешка 404...</h2>
</hgroup> 
       
<div class="margin-top" style="text-align: center">
    <h3>
        Адресът, който търсите e грешен или събитието, който търсите, вече не съществува.
    </h3>
</div>
