@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "500Error";
}

<hgroup class="title">
    <h2 class="validation-summary-errors center-block">Грешка 500...</h2>
</hgroup>

<div class="margin-top" style="text-align: center">
    <h3>
        В момента има проблем със сървъра обновете страницата или опитаите по късно.
    </h3>
</div>
